.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex > a {
    margin: 0 1rem 1rem 1rem;
    text-align: center;
}

.flex > p {
    margin: 0 1rem 1rem 1rem;
    text-align: center;
}

.flex > div {
    border-radius: 5px;
    border: solid;
    margin: 0 1rem 1rem 1rem;
    height: 155px;
    width: 155px;
}

img {
    display: inline-block;
    max-width: 100%;
}

#editPost {
    height: 15rem;
    width: 45rem;
}

#buttonFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}